<div class='row justify-content-md-center'>
  <div class='col-6'>
    <div class='text-center mt-40'>
      <h1>
        Checkout — Stripe Press
      </h1>
      <h5 class='text-secondary'>
        {{title}}
      </h5>
      <hr class='mt-40' />
      <div class='mt-20 text-info'>
        Total due: $<span class='amount' data-amount='{{amount}}'></span>
      </div>
    </div>
    <div class="text-center mt-20" id="pr-spinner">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div id="pr-support-message" class="hidden mt-20 font-weight-light text-muted text-center">
      <p><small><i class="fa fa-info-circle" aria-hidden="true"></i> Digital wallet services not supported or you don't
          have any saved cards</small></p>
    </div>
    <div id="payment-request-button" data-curr={{currency}} class="hidden mt-20">
    </div>
    <div class="mt-40 mb-10" id="option-message">
      <p class="text-center font-weight-light">Or enter payment details below</p>
    </div>
    <div class='card box-shadow mt-40'>
      <div class='card-body'>
        <div class="text-center">
          <div class="spinner-grow text-primary" role="status" id="pc-spinner">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <form id='payment-form' class="hidden">

          <div>
            <label for='email'>Email address</label>
            <input type='email' class='form-control' id='email' name='email' placeholder='you@email.com' required
              autocomplete="on" />
          </div>
          <div class='mt-20 text-center text-secondary form-control' id='card-element' data-item='{{itemId}}'>
          </div>
          <div class='mt-20'>
            <button type='submit' class='btn btn-lg btn-block btn-primary' disabled aria-disabled="true"
              id="pay-button">
              <span class="spinner-border hidden" role="status" aria-hidden="true"></span>
              <span class="sr-only hidden">Loading...</span>
              <div id="button-text">Pay $<span class='amount' data-amount='{{amount}}'></span></div>
            </button>
            <p id='card-error' role='alert'></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>